.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.msg {
	font-size: 30px;
	text-align: center;
	margin: 40px;
}

.button {
	font-size: 22px;
	padding: 5px 12px;
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: -2px 4px 8px rgba(255, 255, 255, 0.2);
	background-color: #222020;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
}

.topbar p {
	font-size: 35px;
	color: #e213d8;
}

.topbar button {
	font-size: 20px;
	padding: 5px 10px;
	background-color: #222020;
}

.topbar button:hover {
	background-color: #222020;
	color: #e213d8;
}

@media screen and (max-width: 600px) {
	.topbar p {
		font-size: 20px;
	}

	.topbar button {
		font-size: 16px;
		padding: 5px 8px;
	}
}
