@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Rubik&display=swap');

:root {
	--background-color: #0f0f0f;
	--text-color: #ffffff;
	--button-background: #aa12b8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'IBM Plex Sans';
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

button {
	font-weight: bold;
	background-color: var(--button-background);
	color: var(--text-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

button a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: var(--text-color);
}

button:hover {
	background-color: #7e0e88;
	color: var(--text-color);
	border-radius: 5px;
	cursor: pointer;
}
