.title {
	text-align: center;
	margin: auto;
	font-size: 80px;
	color: #ca10c1;
}

.body {
	text-align: center;
	margin: 95px;
	font-size: 45px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.button {
	font-size: 30px;
}

.button a {
	padding: 20px;
	margin: 0px;
}
