.container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	height: 60vh;
	animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.container h1 {
	color: #ca10c1;
	font-size: 50px;
}

.formcontainer {
	width: 100%;
	margin-top: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputfield {
	width: 100%;
	padding: 8px;
	margin: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
}

.buttoncontainer {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.button {
	font-size: 20px;
	padding: 10px 15px;
	margin: 10px;
}

.instead {
	font-size: 18px;
	background-color: #0f0f0f;
	padding: 10px 15px;
	margin: 10px;
}

.instead:hover {
	background-color: #0f0f0f;
	color: #ca10c1;
}

.errormessage {
	color: red;
	margin-top: 10px;
	text-align: center;
}

.transitionfade {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.transitionfade.active {
	opacity: 1;
}

@media screen and (max-width: 600px) {
	.inputfield {
		width: 100%;
	}

	.buttoncontainer {
		flex-direction: row;
	}
}
