.container {
	width: 100%;
	max-width: 1200px;
	margin: 30px auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
}

.container h2 {
	text-align: center;
	margin-bottom: 30px;
	color: #f700ea9c;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.head {
	padding: 20px 0px;
}

.tablecontainer {
	width: 100%;
	margin-top: 0px;
	overflow-x: auto;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
}

.customtable {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.customtable th,
.customtable td {
	padding: 20px;
	border: 1px solid #ddd;
	max-width: 50px;
	box-sizing: border-box;
	overflow-wrap: break-word;
}

.customtable button {
	padding: 10px;
	background-color: #0f0f0f;
}

.customtable button:hover {
	background-color: #0f0f0f;
	color: #e213d8;
}

.customtable th {
	background-color: #800080;
	color: #fff;
}

@media screen and (max-width: 600px) {
	.customtable th,
	.customtable td {
		max-width: 45px;
		padding: 2px;
		font-size: 12px;
	}

	.customtable button {
		font-size: 12px;
		padding: 2px;
	}
}
